# Environment variables
.env

# Optional variations
.env.local
.env.development
.env.production

# Python virtual environments
venv/
.env/

# Python cache files
__pycache__/
*.pyc

# IDE files
.vscode/
.idea/